* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(30, 2, 52); */
    background-image: linear-gradient(to right, rgb(33, 2, 76), rgb(53, 5, 197));
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite AU QLD", cursive;
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-image: linear-gradient(to right, rgb(29, 183, 183), rgb(148, 104, 178));
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;

}

.hero-left .one {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    color: rgb(33, 2, 76);
    font-weight: bolder;
}

.hero-left .two {
    font-size: 40px;


}

.bold {
    font-weight: bold;
}

.hero-right img {
    border-radius: 14px;height: 280px;
    width: 259px;


}

.button-container{
    padding: 9px 0;
}
.btn {
    background:linear-gradient(to right , rgb(113, 110, 200) , rgb(85, 35, 116));
    padding: 7px 9px;
    margin: 0 2px;
    color: white;
    border: 2px solid rgb(75, 4, 78);
    border-radius: 6px ;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
}